{% extends 'base.html' %}
{% load static %}
{% block content %}
    <h1>Task Manager</h1>
    {% for task in tasks %}
        <div class="container">
            <div class="alert alert-primary">
                <strong>{{ task.body }}</strong><br>
                <small class="text-muted">
                    Category: {{ task.get_category_display }} | 
                    Priority: {{ task.get_priority_display }} | 
                    Posted by @{{ task.user.username }} on {{ task.created_at }}
                </small>
                <br>
                <a href="{% url 'editTask' task.id %}" class="btn btn-warning">Edit</a>
                <a href="{% url 'deleteTask' task.id %}" class="btn btn-danger">Delete</a>
            </div>
        </div>
        <br>
    {% endfor %}
{% endblock %}